@import url(modern-normalize.css);

* {
    padding: 0;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    padding: 10% 5% 0 5%;
    border: 2px solid grey;
}