@import url(modern-normalize.css);

* {
    padding: 0;
}

header {
    text-align: center;
    background-color: #666999;
}

footer {
    text-align: center;
    background-color: #336699;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 90% 5%;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    padding: 5%;
}

.books {
    background-color: #f66666;
}

.current-book-info {
    background-color: #abcdef;
}

form {
    background-color: #abcabc;
}